body{
	font-family: 'Merriweather', serif;
}

img{

}

nav{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	text-align: center;
	font-size: 25px;
	padding: 10px;
}

li{
	display: inline;
	padding: 20px;
}

li a{
	text-decoration: none;
	color: #8F9E95;
	text-transform: lowercase;
}

li a:hover{
	color: #555E59;
}

h1{
	font-family: 'Merriweather', serif;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 15px;
}

footer{
	position: relative;
	margin-top: 120px;
	margin-left: 600px;
}

footer a{
	text-decoration: none;
	color: #8F9E95
}

footer a:hover{
	color: #555E59;
}

.clearfix:after { 
visibility: hidden; 
display: block; 
font-size: 0; 
content: " "; 
clear: both; 
height: 0; 
}

#navbar{
}

.navlogo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}

#Profile{
	height: 288px;
	position: relative;
}

#textcontainer {
	position: absolute;
	z-index: 100;
	width: 52%;
	border-top: 288px solid #BE5548;
	border-right: 100px solid transparent;
	/*left: -8px;
	width: 649px;
	height: 500px;
	background: #BE5548;*/
}

#text{
	width: 40%;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 100;
	color: #fff;
	/*position: relative;
	margin-left: 80px;
	width: 380px;
	height: 300px;
	color: #fff;
	text-align: justify;*/
}
#profilepicture{
	width: 52.60%;
	position: absolute;
	right: 0;
	/*left: 20px;
	top: 20px;
	z-index: 100;
	/*right: -700px;
	width: 700px;
	height: 500px;*/
	/*margin-left: 600px;
	overflow: auto;*/
}

#profilepicture img{

}

#Fashion{
	height: 289px;
	position: relative;
}

#textcontainer2{
	position: absolute;
	z-index: 100;
	width: 40%;
	border-top: 289px solid #65B7BF;
	border-right: 100px solid transparent;
}
#text2{
	width: 40%;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 100;
	color: #fff;
	/*position: relative;
	margin-left: 80px;
	width: 380px;
	height: 300px;
	color: #fff;
	text-align: justify;*/
}

#fashionpicture{
	width: 60%;
	position: absolute;
	right: 0;
	/*position: absolute;
	right: -700px;
	width: 700px;
	height: 600px;
	margin-left: 600px;
	overflow: auto;*/
}

#fashionpicture img{

}