body {background: url("davepetersen.github.io/week3/images");
	background-image: url(davepetersen.github.io/week3/images/vinyl.jpg);
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-style: italic;
}
h1 {color: #5997FF;
	font-size: 100px;

}