body {
	background: url("http://davepetersen.github.io/week4/images/vinyl.png") no-repeat center center fixed;
	background-size: cover;
	font-family: "Roboto", sans-serif;
	color: #5997FF;
}

ul {
	font-size: 30px;
	display: block;
	list-style-type: none;
	/*position: absolute;
	top: 0;
	right: 0;
	padding: 0 20px 0 0;*/
}

#about {
	font-size: 15px;
	height: 675px;
	max-width: 582px;
}

p {

}

#logo {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 20px 35px 0;
}

#slogan {
	font-style: italic;
	font-weight: 800;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 20px 0 0;
	}

#contactus {
	text-align: right;
	padding: 0 20px 0 0;
}