body{
	font-family: 'Playfair Display', serif;
	/*font-family: 'Merriweather', serif;*/
}
header{
	padding: 30px; 
}
img{
	width: 300px;
}
nav{
	display: block;
	float: right;
	margin: 30px 30px 0 0;
	font-size: 25px;
}

li{
	display: inline;
	padding: 20px;
}

li a{
	text-decoration: none;
	color: #8F9E95;
	text-transform: lowercase;
}

#parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(10deg);
	     -o-transform: skew(20deg);
	background: #8F9E95;
}